<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand">Reddit.js</a>
  <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/logout">Logout</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
  </ul>
</nav>